# CareerPilot AI – Backend Environment Variables
# Copy this file to .env and fill in your values.
# NEVER commit .env to version control.

# IBM watsonx.ai credentials
WATSONX_API_KEY=4TvA2BpQDSggiItwNqWUxxdIUiQQpkT7U-W05zziIeyc
WATSONX_PROJECT_ID=3e8ed057-d249-4d0e-98aa-d0de87976a52

# Flask settings
PORT=5000
FLASK_DEBUG=false
